[submodule ".registry"]
	path = .registry
	url = https://github.com/adafede/adafede.r-universe.dev
	branch = HEAD
[submodule "MsnBase"]
	path = MsnBase
	url = https://github.com/bioc/MsnBase
[submodule "cascade"]
	path = cascade
	url = https://github.com/adafede/cascade
	branch = dev
[submodule "chromatographR"]
	path = chromatographR
	url = https://github.com/ethanbass/chromatographR
	registered = false
[submodule "microshades"]
	path = microshades
	url = https://github.com/KarstensLab/microshades
	registered = false
[submodule "xcms"]
	path = xcms
	url = https://github.com/bioc/xcms
