[submodule ".registry"]
	path = .registry
	url = https://github.com/adafede/adafede.r-universe.dev
	branch = HEAD
[submodule "MSnbase"]
	path = MSnbase
	url = https://github.com/bioc/MSnbase
[submodule "MetaboCoreUtils"]
	path = MetaboCoreUtils
	url = https://github.com/bioc/MetaboCoreUtils
[submodule "MsCoreUtils"]
	path = MsCoreUtils
	url = https://github.com/bioc/MsCoreUtils
[submodule "MsExperiment"]
	path = MsExperiment
	url = https://github.com/bioc/MsExperiment
[submodule "ProtGenerics"]
	path = ProtGenerics
	url = https://github.com/bioc/ProtGenerics
[submodule "Rdisop"]
	path = Rdisop
	url = https://github.com/bioc/Rdisop
[submodule "Spectra"]
	path = Spectra
	url = https://github.com/bioc/Spectra
[submodule "cascade"]
	path = cascade
	url = https://github.com/adafede/cascade
	branch = dev
[submodule "chromatographR"]
	path = chromatographR
	url = https://github.com/ethanbass/chromatographR
	registered = false
[submodule "microshades"]
	path = microshades
	url = https://github.com/KarstensLab/microshades
	registered = false
[submodule "mzR"]
	path = mzR
	url = https://github.com/bioc/mzR
[submodule "nucleR"]
	path = nucleR
	url = https://github.com/bioc/nucleR
[submodule "pRoloc"]
	path = pRoloc
	url = https://github.com/bioc/pRoloc
[submodule "pRolocdata"]
	path = pRolocdata
	url = https://github.com/bioc/pRolocdata
[submodule "xcms"]
	path = xcms
	url = https://github.com/bioc/xcms
